<div class="frame-1">
  <div class="button"></div>
  <div class="div">중개사무소 정보 입력</div>
  <div class="_1111-1111">
    -중개사무소 정보 등록 완료 시, 별도의 절차 없이 팩토리픽을 바로 이용하실 수
    있습니다.
    <br />
    -회원가입에 관한 문의사항은 고객센터(1111-1111)으로 연락바랍니다.
    <br />
    -팩토리픽은 중개사무소를 개설 등록한 대표자가 회원가입 가능합니다.
  </div>
  <div class="div2">중개사무소 조회</div>
  <div class="div3">
    ‘조회하기’ 버튼 클릭 후, 중개사무소를 검색하면 관련 정보가 자동입력 됩니다.
  </div>
  <div class="div4">중개사무소 검색이 안된다면?</div>
  <div class="div5">대표자 인증</div>
  <div class="div6">대표자 인증은 중개사무소 조회 이후 인증이 가능합니다.</div>
  <div class="div7">관련 제출 서류 첨부</div>
  <div class="div8">
    사업자등록증, 중개등록증과 사업자등록번호를 첨부해주세요.
  </div>
  <div class="classic-button-true"></div>
  <div class="search">
    <div class="button2">
      <div class="get-started">조회하기</div>
    </div>
  </div>
  <div class="certificate">
    <div class="search2">
      <div class="button2">
        <div class="get-started">인증하기</div>
      </div>
    </div>
  </div>
  <div class="insert">
    <div class="search2">
      <div class="button2">
        <div class="get-started">첨부하기</div>
      </div>
    </div>
  </div>
  <img
    class="isometric-view-of-clipboard-smartwatch-pencil"
    src="isometric-view-of-clipboard-smartwatch-pencil0.png"
  />
  <div class="rectangle-4"></div>
  <img class="image-2" src="image-20.png" />
  <div class="div9">추천 시스템 소개</div>
  <div class="div10">마이페이지</div>
  <div class="div11">매물 둘러보기</div>
  <div class="div12">공장입지 추천받기</div>
  <div class="div13">로그인 / 회원가입</div>
  <div class="line-7"></div>
  <div class="line-8"></div>
  <div class="line-9"></div>
  <div class="line-10"></div>
  <div
    class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com"
  >
    <span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span"
      >
        상호 : (주)팩토리픽  |  대표 : 임ㅎ |  사업자등록번호: 120-87-61559
        <br />
        주소 :서울특별시 강남구 영동대로511(삼성동, 무역회관 4703호) 팩토리픽
        고객센터 1661-6844
        <br />
        COPYRIGHT© 2024 FACTORY PICK CORP. ALL RIGHTS RESERVED.
        <br />
        서비스 이용문의: 1661-8734  |  이메일 : hanwhasystem
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span2"
      >
        com 
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span3"
      >
         |  팩스 : 02-568-4908
        <br />
        서비스제휴문의 : 
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span4"
      >
        partnership@factorypick.com
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span5"
      >
          |  분양광고 문의 : ad@factorypick.com
      </span>
    </span>
  </div>
  <img class="image-3" src="image-30.png" />
  <div class="group-1">
    <div class="button3">
      <button class="sing-in" data-recommendation="recommendation">
        공장입지 추천 받기
      </button>
    </div>
    <div class="button4">
      <button class="sing-in" data-intro="intro">추천시스템 소개</button>
    </div>
    <div class="button5">
      <button class="sing-in" data-property="property">매물 둘러보기</button>
    </div>
    <div class="button6">
      <button class="sing-in" data-my-page="myPage">마이페이지</button>
    </div>
    <div class="button7">
      <button class="sing-in" data-support="suppport">고객지원</button>
    </div>
    <div class="button8">
      <div class="sing-in2">일반회원</div>
    </div>
    <div class="button9">
      <div class="sing-in3">중개인</div>
    </div>
    <div class="button10">
      <div class="sing-in4">로그인/ 회원가입</div>
    </div>
  </div>
  <div class="button11">
    <img class="image-1" data-mainpage="mainpage" src="image-10.png" />
  </div>
  <div class="line-6"></div>
</div>
