<div class="frame-1">
  <div class="rectangle-7"></div>
  <div class="div">
    <span>
      <span class="div-span">통계기반 데이터 분석</span>
      <span class="div-span2">
        을
        <br />
        통한 최적의 공장 입지 추천
      </span>
    </span>
  </div>
  <div class="_30-000">
    약 30,000개의 데이터를 바탕으로 간단한 응답을 통해
    <br />
    쉽고 간편한 서비스를 제공합니다.
  </div>
  <div class="frame-2">
    <div class="button">
      <button class="sing-in" data-recommendation="recommendation">
        나의 공장 위치 찾기
      </button>
    </div>
  </div>
  <img class="factory" src="factory0.png" />
  <img
    class="girl-and-boy-in-the-worker-jumpsuits"
    src="girl-and-boy-in-the-worker-jumpsuits0.png"
  />
  <div class="rectangle-3"></div>
  <div class="rectangle-32"></div>
  <div class="rectangle-33"></div>
  <div class="div2">공장입지 추천받기</div>
  <div class="div3">추천 시스템 소개</div>
  <div class="div4">매물 둘러보기</div>
  <div class="rectangle-5"></div>
  <img class="rectangle-6" src="rectangle-60.svg" />
  <div class="div5">🔍</div>
  <div class="div6">산업단지명을 입력하세요.</div>
  <div class="div7">
    팩토리픽은 사용자의 선호 지역, 가격
    <br />
    상한, 교통 접근성 등 입력된 데이터를
    <br />
    기반으로 산업단지 내 최적의 공장
    <br />
    입지를 추천합니다.
  </div>
  <div class="div8">
    팩토리픽은 시도별 유사도, 경제활동인구,
    <br />
    토지 개발 용이성 등을 평가하여
    <br />
    이를 통해 유사도 높은 산업단지 추천
    <br />
    및 상세 정보 제공을 지원하고 있습니다.
  </div>
  <div class="_780">
    780여개의 산업단지 내에 등록된 매물을
    <br />
    한 눈에 파악하여 위치 파악에 용이합니다.
  </div>
  <img class="search" src="search0.png" />
  <img class="laptop-settings" src="laptop-settings0.png" />
  <img class="idea" src="idea0.png" />
  <div class="rectangle-4"></div>
  <img class="image-2" src="image-20.png" />
  <div class="div9">추천 시스템 소개</div>
  <div class="div10">마이페이지</div>
  <div class="div11">매물 둘러보기</div>
  <div class="div12">공장입지 추천받기</div>
  <div class="div13">로그인 / 회원가입</div>
  <div class="line-7"></div>
  <div class="line-8"></div>
  <div class="line-9"></div>
  <div class="line-10"></div>
  <div
    class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com"
  >
    <span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span"
      >
        상호 : (주)팩토리픽  |  대표 : 임한솔 |  사업자등록번호: 120-87-61559
        <br />
        주소 :서울특별시 강남구 영동대로511(삼성동, 무역회관 4703호) 팩토리픽
        고객센터 1661-6844
        <br />
        COPYRIGHT© 2024 FACTORY PICK CORP. ALL RIGHTS RESERVED.
        <br />
        서비스 이용문의: 1661-8734  |  이메일 : hanwhasystem@gmail.
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span2"
      >
        com 
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span3"
      >
         |  팩스 : 02-568-4908
        <br />
        서비스제휴문의 : 
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span4"
      >
        partnership@factorypick.com
      </span>
      <span
        class="_120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystem-gmail-com-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span5"
      >
          |  분양광고 문의 : ad@factorypick.com
      </span>
    </span>
  </div>
  <img class="image-3" src="image-30.png" />
  <img
    class="pngtree-oil-refinery-industrial-complex-hong-13043902"
    src="pngtree-oil-refinery-industrial-complex-hong-130439020.png"
  />
  <div class="div14">
    <span>
      <span class="div-14-span">끊임없는</span>
      <span class="div-14-span2">혁신과 도전</span>
      <span class="div-14-span3">
        으로
        <br />
        공장의 미래를 개척합니다.
      </span>
    </span>
  </div>
  <div class="group-1">
    <div class="button2">
      <button class="sing-in2" data-recommendation="recommendation">
        공장입지 추천 받기
      </button>
    </div>
    <div class="button3">
      <button class="sing-in2" data-intro="intro">추천시스템 소개</button>
    </div>
    <div class="button4">
      <button class="sing-in2" data-property="property">매물 둘러보기</button>
    </div>
    <div class="button5">
      <button class="sing-in2" data-my-page="myPage">마이페이지</button>
    </div>
    <div class="button6">
      <button class="sing-in2" data-support="suppport">고객지원</button>
    </div>
    <div class="button7">
      <div class="sing-in3">일반회원</div>
    </div>
    <div class="button8">
      <div class="sing-in4">중개인</div>
    </div>
    <div class="button9">
      <div class="sing-in5">로그인/ 회원가입</div>
    </div>
  </div>
  <div class="button10">
    <img class="image-1" data-mainpage="mainpage" src="image-10.png" />
  </div>
</div>
