.intro {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.property {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.myPage {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.support {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.recommendation {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.users {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;

}

.agent {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;

}

.login {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 22px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.home {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}

.frame-1,
.frame-1 * {
  box-sizing: border-box;
}

.frame-1 {
  background: #ffffff;
  height: 1319px;
  position: relative;
  overflow: hidden;
}

.rectangle-6 {
  background: #ffffff;
  width: 1823px;
  height: 804px;
  position: absolute;
  left: 52px;
  top: 176px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.animated-cursor {
  border-radius: 5px;
  border-style: dashed;
  border-color: #9747ff;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: -100px;
  overflow: hidden;
}

.state-on {
  flex-shrink: 0;
  width: 2px;
  height: 24px;
  position: relative;
}

.rectangle {
  background: #0e7afe;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.state-off {
  flex-shrink: 0;
  width: 2px;
  height: 24px;
  position: relative;
}

.rectangle2 {
  background: rgba(14, 122, 254, 0);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.interactive-input-field-feel-free-to-rename {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  position: absolute;
  left: 100px;
  top: -100px;
}

.label {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.inputfield {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.background {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}

.focus {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #0e7afe;
  border-width: 1px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}

.textfield {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.text {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  min-width: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.placeholder {
  color: #bbbbbb;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: calc(50% - 12px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.animated-cursor2 {
  align-self: stretch;
  flex-shrink: 0;
  width: 2px;
  position: relative;
}

.group-2 {
  position: absolute;
  inset: 0;
}

.rectangle-4 {
  background: rgba(203, 203, 203, 0.25);
  width: 1927px;
  height: 291px;
  position: absolute;
  left: 0px;
  top: 1028px;
}

.image-2 {
  width: 320px;
  height: 93.81px;
  position: absolute;
  left: 1102px;
  top: 1185px;
  object-fit: cover;
}

.div {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 174px;
  top: 1060px;
  width: 300px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1134px;
  top: 1066px;
  width: 300px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 818px;
  top: 1057px;
  width: 292px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 494px;
  top: 1060px;
  width: 300px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1454px;
  top: 1057px;
  width: 300px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 43.01px;
  height: 0px;
  position: absolute;
  left: 483px;
  top: 1101.01px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 43.01px;
  height: 0px;
  position: absolute;
  left: 806px;
  top: 1101.01px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 43.01px;
  height: 0px;
  position: absolute;
  left: 1124px;
  top: 1104.01px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 43.01px;
  height: 0px;
  position: absolute;
  left: 1446px;
  top: 1101.01px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: var(--line-height-23, 23px);
  font-weight: 400;
  position: absolute;
  left: 238px;
  top: 1155px;
  width: 806px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: underline;
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span3 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: underline;
}

._120-87-61559-511-4703-1661-6844-copyright-2024-factory-pick-corp-all-rights-reserved-1661-8734-hanwhasystemcom-02-568-4908-partnership-factorypick-com-ad-factorypick-com-span5 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.image-3 {
  width: 327px;
  height: 53px;
  position: absolute;
  left: 1464px;
  top: 1220px;
  object-fit: cover;
}

.group-4 {
  position: absolute;
  inset: 0;
}

.group-1 {
  width: 1507.13px;
  height: 89px;
  position: static;
}

.button {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 360px;
  position: absolute;
  left: 642px;
  top: 33px;

}

.sing-in {
  color: #000000;
  text-align: center;
  font-family: var(--var-sds-typography-title-hero-font-family,
      "Inter-Bold",
      sans-serif);
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: var(--var-sds-typography-title-hero-font-weight, 700);
  position: relative;
}

.button2 {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 251px;
  height: 30px;
  position: absolute;
  left: 414px;
  top: 39px;

}

.button3 {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 30px;
  position: absolute;
  left: 958px;
  top: 39px;

}

.button4 {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 30px;
  position: absolute;
  left: 1240px;
  top: 38px;

}

.button5 {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 30px;
  position: absolute;
  left: 1443px;
  top: 38px;

}

.button6 {
  background: #fca311;
  border-radius: 15px;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1713px;
  top: 33px;

}

.button7 {
  background: #fca311;
  border-radius: 15px;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 123px;
  position: absolute;
  left: 1713px;
  top: 71px;

}

.button8 {
  background: #ffffff;
  padding: 5px 26px 5px 26px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 30px;
  position: absolute;
  left: 1658px;
  top: 0px;

}

.button9 {
  width: 253px;
  height: 80px;
  position: absolute;
  left: 80px;
  top: 9px;

}

.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 120.17px;
  transform-origin: 0 0;
  transform: rotate(-0.124deg) scale(1, 1);


}

.start {
  width: 459px;
  height: 88px;
  position: absolute;
  left: 730px;
  top: 791px;
}

.rectangle-9 {
  background: #263e72;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.image-4 {
  width: 1770px;
  height: 594px;
  position: absolute;
  left: 79px;
  top: 182px;
  object-fit: cover;
}

.start-survey {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  right: 0.44%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(210, 210, 210, 0.6);
  /* 텍스트 그림자 추가 */
  cursor: pointer;
}


.button:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover,
.button7:hover,
.button8:hover,
.button9:hover,
.rectangle-9:hover {
  transform: scale(1.05);
  /* 요소 크기 살짝 확대 */
  text-shadow: 2px 2px 3px rgba(20, 33, 61, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
  /* 애니메이션 효과 */
  cursor: pointer;
}

.pleaseButtonHover:hover {
    cursor: pointer; /* hover 시 클릭 모양으로 변경 */
 }